.buttonRegister{
    margin-top:30px;
    text-align: center;
}
.buttonRegister a{
    outline: none;
    text-decoration:none; 
    color: rgb(73, 73, 73);
}

.buttonRegister span{
    outline: none;
    text-decoration:none; 
    color: #32AA6C;
    border-bottom: 1px solid #32AA6C;
}
.logo{
    width: 400px;
    height: auto;
}