.body-painel{
    width: 100%;
    height: 100vh;
}
.body-painel header{
    background-color: #32AA6C;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.body-painel header h2{
    margin: 0 100px;
    padding: 0;
    text-decoration: none;
}
.inputBusca{
    margin: 40px 100px;
    width: 100%;
    height: 60px;
    background-color: #f3f3f3;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 20px 20px;
}
.body-painel header a{
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
}
.body-painel header h2{
    color: #ffff;
}
.body-painel header nav {
   margin:0 100px;
}
.body-painel header nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.body-painel header nav ul li{
    list-style: none;
    margin: 0 30px;
}
.body-painel header nav ul .style{
    border: solid 1px #fff;
    padding: 10px 40px;
}

.body-painel  .btn-top{
    margin: 40px 100px;
    padding: 15px 30px;
    width: 150px;
    height: 50px;
    border-radius: 4px;
    text-transform: uppercase;
    color: #32AA6C;
    cursor: pointer;
    border: none;
    background-color: rgb(236, 236, 236);
    transition: transform .3s ease-in;
    outline: none;
}

.body-painel  .btn-top:hover{
    transform: scale(1.2, 1.2);
}
.slangs{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0 100px;
}
.slangs .tableSlangs{
    border-collapse: collapse;
    margin: 40px 0;
    font-size: 0.9em;
    width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgb(133, 133, 133);
}
.slangs .tableSlangs thead tr{
   background-color: rgb(255, 255, 255);
   border-bottom: 1px solid #e4e4e4;
  
}
.slangs .tableSlangs th {
    padding: 13px 13px;

    font-size: 18px;
    text-align: left;
    font-weight: bold;
    color: #32AA6C;
}
.slangs .tableSlangs td{
    padding: 13px 13px;
    background-color: #ffff;
    font-weight: bold;
    color: rgb(114, 114, 114);
    font-size: 16px;  
  
}
.slangs .tableSlangs tbody tr{
    border-bottom: 1px solid #dddddd;
}

.slangs .tableSlangs tbody tr .btnTableService{
    padding: 11px 12px;
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 6px;

    font-weight: bold;
    color: rgb(66, 66, 66);
    background-color: rgb(241, 241, 241);
    font-size: 16px;
    transition: all .2s ease-in; 
}

.slangs .tableSlangs tbody tr .btnTableService:hover{
    transform: scale(1.1);
}


